
/target/
!.mvn/wrapper/maven-wrapper.jar

/src/main/java/com/corey/vidlib/config/AWSKeys.java

### STS ###

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
target/
.recommenders/



### IntelliJ IDEA ###

.idea*
.iws*
.iml*
.ipr